#dashboard-container{
  margin-left:-92%; 
  margin-top:-475px;
  width:283%;
  z-index: 1040;
  height:590px;
}
#sign-in-as{
	color:white;
}
#form-container{
	margin-top:1%;
}
#search-button{
	width:30%;
	margin-left: 35%;
	margin-top: 3%;
}
#form-container1{
	margin-top: 3%;
}
.SearchModal{
	z-index:1000000;
}