#dashboard-container{
  margin-left:-90%; 
  margin-top:-425px;
  width:280%;
  z-index: 1000;
  height:525px;
}
#sign-in-as{
	color:white;
}
#form-container{
	margin-top:2%;
}
#search-button{
	width:30%;
	margin-left: 35%;
}